<!DOCTYPE html>
<html>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <head>
    <meta charset="utf8" />
    <title>day2_vue</title>
  </head>
  <body>
    <h1>Hello 精弘</h1>
    <div id="app">
      <h2>{{department}} RP : {{ count }}</h2>
      <!-- v-if后面的表达式为true时,则渲染该标签的内容 -->
      <!-- 未渲染的dom元素在网页审查元素中不可见 -->
      <!-- v-if一般用于简单的变化,不涉及数据计算的变化
      因为v-if重新渲染时,可能会重置数据 -->
      <!-- v-else-if与v-else必须与v-if连用 -->
      <div v-if="count < 10">rp 太低啦</div>
      <div v-else-if="count < 20">666</div>
      <div v-else>unbelievable</div>
      
      <!-- v-show与v-if不同的是v-if是是否对元素渲染
      这可能会耗费一定的算力,而v-show则是修改了css样
      式,所以v-show的元素在网页审查元素中可见 -->
      <!-- v-show一般用于复杂的变化,涉及大量数据的计算等 -->
      <div v-show="count < 15 && count > 9">rp 还是不够</div>

      <!-- v-on:click绑定函数和click事件,可简写为@click -->
      <button @click="handleClick">Click me</button>
      
      <!-- v-bind:title绑定title属性,可简写为:title -->
      <h2 :title="`rp: ${doubleRP}`">鼠标移到上面看双倍 RP</h2>
      
      <!-- v-model双向绑定,一般用于表单 -->
      <!-- 这里v-model双向绑定了input标签和count值 -->
      <!-- input里的值与count值将会同步变化 -->
      <input v-model="count" />

      <!-- v-for后面表达式中item表示数组元素,index表示对于的索引值 -->
      <div v-for="(item,index) in 10">{{ index }}:{{ item }}</div>
      <!-- 迭代器循环 -->
      <div v-for="(item,index) in list">{{ index }}:{{ item }}</div>

      <!-- v-for和v-if不能对同一个元素使用 -->
      <!-- 可以利用filter函数替代v-if -->
      <div v-for="(item,index) in filterList">{{ index }}:{{ item }}</div>

      <!-- 如果一定要使用v-if,可利用空标签template -->
      <!-- template本身不会被渲染,但它的子元素能被渲染 -->
      <template v-for="item in list">
        <div v-if="item[0] === '1'">{{ item }}</div>
      </template>
      <!-- template可应用于网页组件开发,能够脱离网页依赖 -->
      <!-- 组件能够被移植到任何网页上,有效减少重复性代码工作 -->
    </div>
  </body>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        department: "技术部",
        count: 0,
        list: ["12313", "12s313", "34253"],
      },
      // Vue对象中的methods属性用于存放函数
      // 通过@click="handleClick"绑定该函数
      methods: {
        handleClick() {
          this.count++;
        },
      },
      // 计算属性,用于比较复杂的计算
      // 与methods不同,computed必须要有返回值
      computed: {
        doubleRP() {
          return this.count * 2;
        },
        filterList() {
          return this.list.filter((item) => {
            if(item[0] === '1') return true;
          });
        },
      },
    });
  </script>
</html>
